{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>


	<h1>TNR - Life Saving Work</h1>

	<h2>TNR Application</h2>

<p>Kitty Bungalow is a non-profit, donation-driven organization with limited grant funding. We provide our services at no cost to low income Community Partners in the city of Los Angeles. Please understand we are a small organization and we will try to assist you in any way we can. However, our services are not guaranteed. Any donations are appreciated and can be sent via PayPal to <a href="mailto:kittybungalow@gmail.com">kittybungalow@gmail.com</a>.</p>

<p>Please complete this application for TNR Services. All fields are required. Thank you.</p>

<form method="POST">
	{% csrf_token %}
	<table>
		{{ form.as_ul }}
	</table>
	<button type="submit">Submit</button>
</form>
</body>
</html>